
@{
    ViewBag.Title = "Index3";
}

<h2>Index3</h2>

@HttpUtility.HtmlEncode("<b>Türhan Yıldırım</b>")
<br />
@HttpUtility.HtmlDecode("&lt;b&gt;T&#252;rhan Yıldırım&lt;/b&gt;")
<br />
@HttpUtility.UrlEncode("http://www.turhanyildirim.com")
<br />
@HttpUtility.UrlDecode("http%3a%2f%2fwww.turhanyildirim.com")
<br />
@Html.Raw("<b>Türhan Yıldırım</b>")
<br />
@Html.Raw("<script type='text/javascript'> alert('merhaba mvc'); </script>")
<br />
@Html.Raw("<style> h2 { color: red; } </style>")