@*@using _12_MVC_EF_CodeFirst.Models*@
@*@model IEnumerable<Kisiler>*@

@using _12_MVC_EF_CodeFirst.ViewModels.Home
@model HomePageViewModel
@{
    ViewBag.Title = "homepage";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>homepage</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @*<h4>Kişiler</h4>
                <hr />*@

            <div>
                @Html.ActionLink("Yeni Kişi", "Yeni", "Kisi", null, new { @class = "btn btn-primary" })
                <br /><br />
            </div>
            <ul class="list-group">
                <li class="list-group-item active">
                    Kişiler
                </li>
                @*@foreach (var kisi in Model)
                    {
                        <li>
                            @(kisi.Ad + " " + kisi.Soyad)
                        </li>
                    }*@


                @foreach (var kisi in Model.Kisiler)
                {
                    <li class="list-group-item">
                        @Html.ActionLink("Düzenle", "Duzenle", "Kisi", new { kisiid = kisi.ID }, new {@class = "btn btn-warning btn-xs"})
                        @Html.ActionLink("Sil", "Sil", "Kisi", new { kisiid = kisi.ID }, new { @class = "btn btn-danger btn-xs" })
                        <span class="glyphicon glyphicon-user green"></span> @(kisi.Ad + " " + kisi.Soyad) (<i> @kisi.Yas </i>)
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-6">
            @*<h4>Adresler</h4>
                <hr />*@
            <div>
                @Html.ActionLink("Yeni Adres", "Yeni", "Adres", null, new { @class = "btn btn-primary" })
                <br /><br />
            </div>
            <ul class="list-group">
                <li class="list-group-item active">
                    Adresler
                </li>
                @*@foreach (var kisi in Model)
                    {
                        <li>
                            @(kisi.Ad + " " + kisi.Soyad)
                        </li>
                    }*@


                @foreach (var adres in Model.Adresler)
                {
                    <li class="list-group-item">
                        @Html.ActionLink("Düzenle", "Duzenle", "Adres", new { adresid = adres.ID }, new { @class = "btn btn-warning btn-xs" })
                        @Html.ActionLink("Sil", "Sil", "Adres", new { adresid = adres.ID }, new { @class = "btn btn-danger btn-xs" })
                        <span class="glyphicon glyphicon-home red"></span> @adres.AdresTanimi (<i> @(adres.Kisi.Ad + " " + adres.Kisi.Soyad) </i>)
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
