<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <style>
        .block {
            display: block;
            margin: 10px;
            border: 2px dotted gray;
            padding: 10px;
        }

        #menu ul li {
            display: inline-block;
            width: 100px;
            height: 30px;
            text-align: center;
            border: 1px solid darkblue;
            background-color: lightblue;
            margin: 5px;
            line-height: 30px;
            vertical-align: middle;
        }

        #menu a {
            color: white;
            text-decoration: none;
            font-size: smaller;
        }

        #menu li:hover {
            background-color: orange;
        }

            #menu li:hover a {
                color: darkblue;
            }
    </style>

</head>
<body>
    <div class="block">
        <h2>Türhan Yıldırım Blog Page</h2>
        <br />
        <h4>Slogan</h4>
        <hr />
    </div>
    <div class="block">
        <p>bişiler bişiler</p>
    </div>
    <div class="block">
        @RenderBody()
    </div>

    <div id="menu" class="block">
        @*Header*@
        <ul>
            <li>
                @Html.ActionLink("Home Page", "homepage", "Home")
            </li>
            <li>
                @Html.ActionLink("About", "about", "Home")
            </li>
            <li>
                @Html.ActionLink("Contact", "contact", "Home")
            </li>
        </ul>
    </div>
    <div class="block">
        @*Footer*@
        <b>Tüm hakları saklıdır. &copy;</b>
    </div>
</body>
</html>
